:root {
    --b_green: #3aaa35;
    --b-gray: #c6c6c6
}
body {
    margin: 0;
    background-color: #f9f9f9;
    /*font-family: Tahoma, Arial, sans-serif;*/
    /*font-family: Tahoma, Geneva, sans-serif;*/
    font-family: 'Roboto', Arial, sans-serif;
}
#app {
    display: none; /* until access rights are confirmed */
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    background-color: white;
    border-radius: 10px;
    h1 {
        /*width: 82%;*/
        width: 1030px;
        margin: 0 auto;
        padding-bottom: 35px;
        color: var(--b_green);
        font-size: 2.4em;
    }
    input {
        border-radius: 8px; /* Adjust for more or less rounding */
        border: 1px solid #ccc;
        padding: 5px;
    }
}
#search-create-container {
    /*width: 82%;*/
    width: 1030px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    #search-container {
        width: 43%;
        display: flex;
        align-items: center;
        #search-input {
            width: 55%;
            height: 37px;
            border-radius: 0;
            padding: 0 0 0 10px;
        }
        /* Modern browsers */
        #search-input::placeholder {
            color: #888;
            font-style: italic;
            padding-left: 10px;
        }

        /* Older Safari/Chrome */
        #search-input::-webkit-input-placeholder {
            color: #888;
            font-style: italic;
            padding-left: 10px;
        }

        /* Older Firefox */
        #search-input:-moz-placeholder {
            color: #888;
            font-style: italic;
            opacity: 1; /* Overwrite the default partial opacity in Firefox */
            padding-left: 10px;
        }
        #search-input::-moz-placeholder {
            color: #888;
            font-style: italic;
            opacity: 1;
            padding-left: 10px;
        }

        /* Older IE/Edge */
        #search-input:-ms-input-placeholder {
            color: #888;
            font-style: italic;
            padding-left: 10px;
        }
        #search-input::-ms-input-placeholder {
            color: #888;
            font-style: italic;
            padding-left: 10px;
        }
        button {
            background-color: #3aaa35;
            border: 1px solid #3aaa35;
            color: #fff;
            cursor: pointer;
            padding: 6px;
            width: 40px;
            svg {
                color: #fff;
                height: 22px;
                width: 22px;
            }
        }
    }
}

#create-button {
    background-color: var(--b_green);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0 30px;
    cursor: pointer;
}
#qr-container {
    padding-top: 40px;
}
.qr-code-container {
    /*width: 80%;*/
    width: 1000px;
    /*height: 350px;*/
    border: 1px solid #ddd;
    padding: 25px 15px 15px 15px;
    margin: 40px auto;
    border-radius: 5px;
    background-color: #ededed;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    .qr-lay-field {
        padding-bottom: 15px;
    }
    /* QR LAYOUT*/
    .qr-lay-1 {
        display: flex;
        justify-content: space-between;
        .qr-lay-1-1 {
            width: 50%;
            .qr-lay-1-1-1 {
                display: flex;
                justify-content: space-between;
                div {
                    width: 49%;
                }
            }
            .qr-lay-1-1-2 {
                display: flex;
                justify-content: space-between;
                div {
                    width: 49%;
                }
            }
        }
        .qr-lay-1-2 {
            width: 20%;
        }
        .qr-lay-1-3 {
            width: 20%;
            height: 170px;
            .qr-lay-field {
                text-align: center;
            }
        }
    }
    .qr-lay-2 {
        display: flex;
        justify-content: space-between;
        .qr-lay-2-1 {
            width: 90%;
            .qr-lay-2-1-1 {
                display: flex;
                justify-content: space-between;
                .qr-lay-2-1-1-1 {
                    width: 49%;
                    input {
                        width: 100%;
                        height: 45px;
                    }
                }
                .qr-lay-2-1-1-2 {
                    width: 39%;
                }
            }
            .qr-lay-2-1-2 {
                input {
                    width: 80%;
                    height: 45px;
                }
            }
        }
        .qr-lay-2-2 {
            width: 10%;
        }
    }
}
.attribute-field {
    margin-bottom: 10px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.attribute-field input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.pagination {
    /*width: 82%;*/
    width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
#pageInfo {
    padding: 5px 10px;
}
#nextBtn, #prevBtn {
    background-color: var(--b_green);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
.dis-button {
    background-color: var(--b-gray) !important;
    cursor: default !important;
}
/* Toggle Switch Container */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* Toggle Slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: -3px;
    left: 0;
    right: 0;
    bottom: 1px;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 20px;
}
/* Slider Indicator */
.slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}
/* When Checked (Toggle On) */
.switch input:checked + .slider {
    background-color: #4CAF50;
}
.switch input:checked + .slider::before {
    transform: translateX(20px);
}
/* CREATE & EDIT MODAL */
#ce-modal-container, #publish-modal-container, #delete-modal-container, #edit-modal-container, #download-modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0px;
    left: 0px;
    #ce-modal {
        width: 50%;
        height: 650px;
        margin: 50px auto;
        background: white;
        position: relative;
        text-align: center;
        #close-modal-button {
            position: absolute;
            right: 0px;
            background-color: var(--b_green);
            color: white;
            border: 4px solid var(--b_green);
            cursor: pointer;
        }
        input {
            margin-top: 5px;
            width: 80%;
            height: 40px;
        }
        input:first-of-type {
            margin-top: 5px;
        }
        #create-button {
            background-color: var(--b_green);
            color: white;
            margin-top: 40px;
            height: 40px;
        }
    }
}
#publish-modal-container, #delete-modal-container {
    #ce-modal {
        height: 165px;
        width: 30%;
        border-radius: 5px;
    }
}
#download-modal-container {
    #ce-modal {
        width: 30%;
        height: 390px;
        border-radius: 5px;
        select {
            height: 30px;
        }
    }
}
.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--b_green);
    color: white;
    border-radius: 2px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 35px;
    cursor: pointer;
    svg {
        height: 30px;
    }
}

