<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BITZER - QR CODE GENERATOR</title>
    <link rel="shortcut icon" th:href="@{bitzer_tab.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{css/main.css(v=${#dates.createNow().getTime()})}" />
    <script th:src="@{js/commons.js}"></script>
</head>
<body>

<div id="app">
    <h1 data-translate-key="1" id="qr-headline"><b>QR CODE GENERATOR</b></h1>
    <div id="search-create-container">
        <div id="search-container">
            <input type="text" id="search-input" data-translate-key="2" placeholder="Search..."/>
            <button type="button" onclick="searchQRCodes()">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke-miterlimit="10" stroke-width="32" d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"></path>
                    <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                </svg>
            </button>
        </div>
        <button id="create-button" data-translate-key="3" onclick="displayCreateModal()">Create new QR code</button>
    </div>
    <div id="qr-container"></div>
    <div class="pagination">
        <button id="prevBtn" data-translate-key="13" onclick="prevPage()" disabled>
            <<
        </button>
        <!-- container for the numeric page links -->
        <div id="pageNumbers"></div>
        <!-- Existing "Page X of Y" text (deprecated) -->
        <span id="pageInfo"></span>
        <button id="nextBtn" data-translate-key="15" onclick="nextPage()">
            >>
        </button>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let serverUrl = "";

    // allQRCodes (master list), and qrCodes (filtered list).
    let allQRCodes = [];
    let qrCodes = [];

    try {
        allQRCodes = [[${qrCodes}]];  // Load from backend
        serverUrl = [[${serverUrl}]];
    } catch (e) {
        cLog("Model loading error ", e);
    }
    /*]]>*/

    if (allQRCodes !== null && allQRCodes.length > 0) {
        cLog("QR Codes loaded. " + MESSAGE);
        console.log(allQRCodes);

        // Reverse for the newest first
        allQRCodes.reverse();

        // Initially, display all codes
        qrCodes = allQRCodes.slice();  // Make a copy
        getCurrentUser(); // sets language and privileges
        renderQRCodes();
        // doTranslate('app');
    } else {
        document.getElementById('app').innerHTML = `Error: QR Codes could not be loaded.`;
        cLog("ERROR: QR Codes not loaded.");
    }

    function searchQRCodes() {
        const term = document.getElementById('search-input').value.trim().toLowerCase();
        console.log("TERM:", term);

        if (!term) {
            // No search => restore the full list
            qrCodes = allQRCodes.slice();
        } else {
            qrCodes = allQRCodes.filter(qr => {
                // 1) Start with the qr.name
                let combinedText = (qr.name || "").toLowerCase();

                // 2) Append all attributeValues
                if (Array.isArray(qr.attributeValues)) {
                    qr.attributeValues.forEach(attr => {
                        // Merge each attribute value into the combinedText
                        if (attr.value) {
                            combinedText += " " + attr.value.toLowerCase();
                        }
                    });
                }

                // 3) Return true if combinedText has the search term
                return combinedText.includes(term);
            });
        }

        currentPage = 1;
        renderQRCodes();
        // doTranslate('app');
    }

    function renderQRCodes() {
        const container = document.getElementById("qr-container");
        container.innerHTML = "";  // Clear previous content

        const startIndex = (currentPage - 1) * itemsPerPage; // these come from commons.js
        const endIndex = startIndex + itemsPerPage;

        // If qrCodes is empty or has fewer items, handle it gracefully
        const paginatedItems = qrCodes.slice(startIndex, endIndex);

        paginatedItems.forEach(qrCode => {
            const qrCodeId = qrCode.id;
            const qrCodeName = qrCode.name;
            const createDate = qrCode.createDate;
            const createDateOnly = new Date(createDate).toLocaleDateString("de-DE");

            // Extract attributes
            const campaignName = qrCode.attributeValues.find(attr => attr.attributeName === "campaign_name")?.value || "Not Found";
            const campaignMedium = qrCode.attributeValues.find(attr => attr.attributeName === "campaign_medium")?.value || "Not Found";
            const campaignSubject = qrCode.attributeValues.find(attr => attr.attributeName === "campaign_subject")?.value || "Not Found";
            const urlCode = qrCode.attributeValues.find(attr => attr.attributeName === "url_code")?.value || "Not Found";
            const urlEncoded = qrCode.attributeValues.find(attr => attr.attributeName === "url_encoded")?.value || "Not Found";
            const trackingUrl = qrCode.attributeValues.find(attr => attr.attributeName === "tracking_url")?.value || "Not Found";
            const language = qrCode.attributeValues.find(attr => attr.attributeName === "language")?.value || "Not Found";
            const additionalInfo = qrCode.attributeValues.find(attr => attr.attributeName === "additional_information")?.value || "Not Found";
            const escapedAddInfo = additionalInfo.replace(/"/g, '\\"').replace(/'/g, "\\'");
            const publishedValue = qrCode.attributeValues.find(attr => attr.attributeName === "published")?.value || "Not Found";

            let published = "";
            if (publishedValue === "true") {
                published = "checked";
            }

            // Build the HTML
            const qrDiv = document.createElement("div");
            qrDiv.classList.add("qr-code-container");
            qrDiv.dataset.qrid = qrCodeId;

            qrDiv.innerHTML = `
                <div class="qr-lay-1">
                    <div class="qr-lay-1-1">
                        <div class="qr-lay-1-1-1">
                            <div class="qr-lay-field">
                                <b data-translate-key="4" >Name of measure</b><br>
                                ${campaignName}
                            </div>
                            <div class="qr-lay-field">
                                <b data-translate-key="5">Measure</b><br>
                                ${campaignMedium}
                            </div>
                        </div>
                        <div class="qr-lay-1-1-2">
                            <div class="qr-lay-field">
                                <b data-translate-key="7">URL Code</b><br>
                                ${urlCode}
                            </div>
                            <div class="qr-lay-field">
                                <b data-translate-key="8">Additional information</b><br>
                                ${additionalInfo}
                            </div>
                        </div>
                    </div>
                    <div class="qr-lay-1-2">
                        <div class="qr-lay-field">
                            <b data-translate-key="6">Language</b><br>
                            ${language}
                        </div>
                    </div>
                    <div class="qr-lay-1-3">
                        <div class="qr-lay-field">
                            <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${urlEncoded}" alt="QR Code"/>
                        </div>
                    </div>
                </div>
                <div class="qr-lay-2">
                    <div class="qr-lay-2-1">
                        <div class="qr-lay-2-1-1">
                            <div class="qr-lay-2-1-1-1 qr-lay-field">
                                <b data-translate-key="9">URL Encoded</b><br>
                                <input type="text" placeholder="${urlEncoded}" readonly>
                            </div>
                            <div class="qr-lay-2-1-1-2">
                                <div class="qr-lay-2-1-1-2-1">
                                    <div class="qr-lay-field">
                                        <b data-translate-key="10">Date of creation</b><br>
                                        ${createDateOnly}
                                    </div>
                                </div>
                                <div class="qr-lay-2-1-1-2-2">
                                    <div class="qr-lay-field">
                                        <b data-translate-key="11">Published</b>
                                        <label class="switch">
                                            <input type="checkbox" ${published}>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qr-lay-2-1-2 qr-lay-field">
                            <b data-translate-key="12">Tracking URL (editable at a later date)</b><br>
                            <input type="text" placeholder="${trackingUrl}" value="${trackingUrl}"readonly style="color: #777;">
                        </div>
                    </div>
                    <div class="qr-lay-2-2">
                       <div class="icon-container" title="Edit"
                         data-qrcodeid='${qrCodeId}'
                         data-campaignname='${campaignName}'
                         data-campaignmedium='${campaignMedium}'
                         data-language='${language}'
                         data-trackingurl='${trackingUrl}'
                         data-additionalinfo='${additionalInfo}'
                         onclick="displayEditModal(this)">
                            <svg class="MP--MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" fill="white"></path>
                            </svg>
                        </div>
<!--                        <i class="fas fa-trash icon-container" title="Delete" onclick="displayDeleteModal(${qrCodeId})"></i><br>-->
                        <div class="icon-container" title="Delete" onclick="displayDeleteModal(${qrCodeId})">
                            <svg class="MP--MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" fill="white"></path>
                            </svg>
                        </div>
<!--                        <i class="fas fa-download icon-container" title="Download" onclick="displayDownloadModal('${qrCodeId}','${campaignMedium}')"></i>-->
                        <div class="icon-container" title="Download" onclick="displayDownloadModal('${qrCodeId}','${campaignMedium}','${campaignName}','${language}')">
                            <svg class="MP--MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" fill="white"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            `;

            container.appendChild(qrDiv);
        });

        updatePaginationButtons();
    }

    function updatePaginationButtons() {
        const totalPages = Math.ceil(qrCodes.length / itemsPerPage);

        // Update button states
        document.getElementById("prevBtn").disabled = (currentPage === 1);
        document.getElementById("nextBtn").disabled = (currentPage >= totalPages);

        // Optional: toggle any styling for disabled states
        if (currentPage === 1) {
            document.getElementById("prevBtn").classList.add('dis-button');
        } else {
            document.getElementById("prevBtn").classList.remove('dis-button');
        }
        if (currentPage >= totalPages) {
            document.getElementById("nextBtn").classList.add('dis-button');
        } else {
            document.getElementById("nextBtn").classList.remove('dis-button');
        }

        // Update "Page X of Y"
    //     document.getElementById("pageInfo").innerHTML = `
    //     <span data-translate-key="28">Page</span> ${currentPage}
    //     <span data-translate-key="29">of</span> ${totalPages}
    // `;

        // Clear and re-populate the numeric links
        const pageNumbersDiv = document.getElementById("pageNumbers");
        pageNumbersDiv.innerHTML = "";

        for (let page = 1; page <= totalPages; page++) {
            const pageLink = document.createElement("span");
            pageLink.textContent = page;
            pageLink.classList.add("page-link");  // For custom styling

            // Highlight current page
            if (page === currentPage) {
                pageLink.classList.add("active-page");
            }

            // On click, set `currentPage` and re-render
            pageLink.addEventListener("click", () => {
                currentPage = page;
                renderQRCodes();
            });

            pageNumbersDiv.appendChild(pageLink);
        }
    }

    function nextPage() {
        if (currentPage * itemsPerPage < qrCodes.length) {
            currentPage++;
            renderQRCodes();
            // doTranslate('app');
        }
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            renderQRCodes();
            // doTranslate('app');
        }
    }

    function displayCreateModal() {
        const appDiv = document.getElementById('app');
        const modalDiv = document.createElement("div");
        modalDiv.setAttribute("id", "ce-modal-container");

        modalDiv.innerHTML = `
        <div id="ce-modal">
            <button id="close-modal-button" onclick="closeModal('ce-modal-container')">x</button>
            <h2 style="padding-top: 20px" data-translate-key="3">Create new QR code</h2>
            <label for="campaign-name-input" style="text-align: left; padding-left: 95px; margin-top: 30px;">Name of measure</label>
            <input type="text" data-translate-key="4" placeholder="Please enter here" id="campaign-name-input"><br>
            <label for="campaign-medium-input" style="text-align: left; padding-left: 95px; margin-top: 15px;">Measure</label>
            <input type="text" list="mediums-list" data-translate-key="5" placeholder="Please enter here" id="campaign-medium-input" autocomplete="off"><br>
            <datalist id="mediums-list">
                <option value="Flyer">
                <option value="Brochure">
                <option value="Postcard">
                <option value="Advert">
                <option value="Roll-up">
                <option value="Poster">
                <option value="Merchandise">
            </datalist>
            <label for="language-input" style="text-align: left; padding-left: 95px; margin-top: 15px;">Language</label>
            <input type="text" list="lang-list" data-translate-key="6" placeholder="Please enter here" id="language-input" autocomplete="off"><br>
            <datalist id="lang-list">
                <option value="German">
                <option value="English">
            </datalist>
            <label for="tracking-url-input" style="text-align: left; padding-left: 95px; margin-top: 15px;">Tracking URL (editable at a later date)</label>
            <input type="text" data-translate-key="12" placeholder="Please enter here" id="tracking-url-input"><br>
            <label for="additional-info-input" style="text-align: left; padding-left: 95px; margin-top: 15px;">Additional information</label>
            <input type="text" data-translate-key="8" placeholder="Please enter here" id="additional-info-input"><br>
            <button id="create-button" data-translate-key="16" onclick="doCreate()">Create</button>
        </div>
        `;

        appDiv.appendChild(modalDiv);
        document.body.style.overflow = "hidden"; // Disable scrolling
        // doTranslate("ce-modal-container");

        // HACK THE DROPDOWNS BEHAVIOUR
        // Save the current value. Clear it so datalist shows full list.
        // If the user didn't choose something else, restore the old value if needed.

        const input1 = document.getElementById('campaign-medium-input');
        let oldValue1 = '';
        input1.addEventListener('focus', () => {
            oldValue1 = input1.value;
            input1.value = '';
        });
        input1.addEventListener('blur', () => {
            if (!input1.value) {
                input1.value = oldValue1;
            }
        });

        const input2 = document.getElementById('language-input');
        let oldValue2 = '';
        input2.addEventListener('focus', () => {
            oldValue2 = input2.value;
            input2.value = '';
        });
        input2.addEventListener('blur', () => {
            if (!input2.value) {
                input2.value = oldValue2;
            }
        });
    }

    function closeModal(modalId) {
        const modalDiv = document.getElementById(modalId);
        const appDiv = document.getElementById('app').removeChild(modalDiv);
        document.body.style.overflow = "auto"; // Enable scrolling
        if (modalId === "publish-modal-container") {
            history.go(0);
        }
    }

    function doCreate() {
        let campName = document.getElementById('campaign-name-input').value;
        let campMedium = document.getElementById('campaign-medium-input').value;
        let lang = document.getElementById('language-input').value;
        let trackingUrl = document.getElementById('tracking-url-input').value;
        let addInfo = document.getElementById('additional-info-input').value;

        // Validate required fields
        if (campName.trim() === '') {
            alert('Name of measure is required!');
            document.getElementById('campaign-name-input').focus();
            return; // Stop processing if validation fails.
        }
        if (campMedium.trim() === '') {
            alert('Measure is required!');
            document.getElementById('campaign-medium-input').focus();
            return;
        }
        if (lang.trim() === '') {
            alert('Language is required!');
            document.getElementById('campaign-medium-input').focus();
            return;
        }
        if (trackingUrl.trim() === '') {
            alert('Tracking URL is required!');
            document.getElementById('campaign-medium-input').focus();
            return;
        }

        let payload = {
            campaignName: campName,
            campaignMedium: campMedium,
            language: lang,
            trackingUrl: trackingUrl,
            additionalInfo: addInfo
        }

        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (this.status === 201) {
                console.log(this.response)
                console.log(this.responseText)
                cLog("save qr code success");
                // doPublishUpdate(this.responseText, 'true');
                closeModal('ce-modal-container');
                history.go(0);
            } else {
                cLog("save qr code error", this.status);
            }
        }
        xhr.open("POST", "create-qr-code", false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(payload));
    }

    function displayConfirmPublishModal(qrid, toPublish) {
        console.log(`Publishing ${qrid} - ${toPublish}`);

        const appDiv = document.getElementById('app');
        let publishModal = document.createElement('div');
        publishModal.setAttribute("id", "publish-modal-container");

        publishModal.innerHTML = `
        <div id="ce-modal">
            <button id="close-modal-button" onclick="closeModal('publish-modal-container')">x</button>
            <p style="padding-top: 30px" data-translate-key="26">Please confirm publish update.</p>
            <button id="create-button" data-translate-key="27" onclick="doPublishUpdate(${qrid}, ${toPublish})">Confirm</button>
        </div>
        `;

        appDiv.appendChild(publishModal);
        window.scrollTo(0, 0);
        document.body.style.overflow = "hidden"; // Disable scrolling
        // doTranslate("publish-modal-container");
    }

    function doPublishUpdate(qrid, toPublish) {
        console.log(`Doing ${qrid} - ${toPublish}`);

        let payload = {
            qrId: qrid,
            toPublish: toPublish
        }

        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (this.status === 200) {
                cLog("publish update success");
                closeModal('publish-modal-container');
                history.go(0);
            } else {
                cLog("publish update error", this.status);
            }
        }
        xhr.open("POST", "publish-update", false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(payload));
    }

    function displayEditModal(data) {
        const qrCodeId = data.dataset.qrcodeid;
        const campaignName = data.dataset.campaignname;
        const campaignMedium = data.dataset.campaignmedium;
        const language = data.dataset.language;
        const trackingUrl = data.dataset.trackingurl;
        const additionalInfo = data.dataset.additionalinfo;

        const appDiv = document.getElementById('app');
        const modalDiv = document.createElement("div");
        modalDiv.setAttribute("id", "edit-modal-container");

        modalDiv.innerHTML = `
        <div id="ce-modal">
            <button id="close-modal-button" onclick="closeModal('edit-modal-container')">x</button>
            <h2 style="padding-top: 20px" data-translate-key="17">Edit QR code</h2>
            <label for="campaign-name-input" style="text-align: left; padding-left: 95px; margin-top: 30px;">Name of measure</label>
            <input type="text" placeholder="${campaignName}" value="${campaignName}" id="campaign-name-input"><br>
            <label for="campaign-medium-input" style="text-align: left; padding-left: 95px; margin-top: 15px;">Measure</label>
            <input type="text" list="mediums-list" placeholder="${campaignMedium}" value="${campaignMedium}" id="campaign-medium-input" autocomplete="off" disabled><br>
            <datalist id="mediums-list">
                <option value="Flyer">
                <option value="Brochure">
                <option value="Postcard">
                <option value="Advert">
                <option value="Roll-up">
                <option value="Poster">
                <option value="Merchandise">
            </datalist>
            <label for="language-input" style="text-align: left; padding-left: 95px; margin-top: 15px;">Language</label>
            <input type="text" list="lang-list" placeholder="${language}" value="${language}" id="language-input" autocomplete="off" disabled><br>
            <datalist id="lang-list">
                <option value="German">
                <option value="English">
            </datalist>
            <label for="tracking-url-input" style="text-align: left; padding-left: 95px; margin-top: 15px;">Tracking URL</label>
            <input type="text" placeholder="${trackingUrl}" value="${trackingUrl}" id="tracking-url-input"><br>
            <label for="additional-info-input" style="text-align: left; padding-left: 95px; margin-top: 15px;">Additional information</label>
            <input type="text" placeholder='${additionalInfo}' value='${additionalInfo}' id="additional-info-input"><br>
            <button id="create-button" data-translate-key="18" onclick="doEdit(${qrCodeId})">Edit</button>
        </div>
        `;

        appDiv.appendChild(modalDiv);

        window.scrollTo(0, 0);
        document.body.style.overflow = "hidden"; // Disable scrolling

        // doTranslate("edit-modal-container");
    }

    function doEdit(qrCodeId) {
        let campName = document.getElementById('campaign-name-input').value;
        let campMedium = document.getElementById('campaign-medium-input').value;
        let lang = document.getElementById('language-input').value;
        let trackingUrl = document.getElementById('tracking-url-input').value;
        let addInfo = document.getElementById('additional-info-input').value;

        let payload = {
            campaignName: campName,
            campaignMedium: campMedium,
            language: lang,
            trackingUrl: trackingUrl,
            additionalInfo: addInfo
        }

        console.log("edit payload: ", payload);

        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (this.status === 200) {
                cLog("edit qr code success");
                closeModal('edit-modal-container');
                history.go(0);
            } else {
                cLog("edit qr code error", this.status);
            }
        }
        xhr.open("PUT", "edit-qr-code/" + qrCodeId, false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(payload));
    }

    function displayDeleteModal(qrCodeId) {
        const appDiv = document.getElementById('app');
        let publishModal = document.createElement('div');
        publishModal.setAttribute("id", "delete-modal-container");

        publishModal.innerHTML = `
        <div id="ce-modal">
            <button id="close-modal-button" onclick="closeModal('delete-modal-container')">x</button>
            <p style="padding-top: 30px" data-translate-key="19">Do you really want to delete the QR code?</p>
            <button id="create-button" data-translate-key="20" onclick="doDelete(${qrCodeId})">Confirm</button>
        </div>
        `;

        appDiv.appendChild(publishModal);

        window.scrollTo(0, 0);
        document.body.style.overflow = "hidden"; // Disable scrolling

        // doTranslate("delete-modal-container");
    }

    function doDelete(qrCodeId) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (this.status === 200) {
                cLog("delete success");
                closeModal('delete-modal-container');
                history.go(0);
            } else {
                cLog("delete error", this.status);
            }
        }
        xhr.open("DELETE", "delete/" + qrCodeId, false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send();
    }

    function displayDownloadModal(qrCodeId, campaignMedium, campaignName, language) {
        const appDiv = document.getElementById('app');
        let publishModal = document.createElement('div');
        publishModal.setAttribute("id", "download-modal-container");

        publishModal.innerHTML = `
        <div id="ce-modal">
            <button id="close-modal-button" onclick="closeModal('download-modal-container')">x</button>
            <p style="padding-top: 25px; padding-bottom: 10px;" data-translate-key="21">Download QR code</p>

            <label data-translate-key="23">File format:</label>
            <select id="format" onchange="checkModel()">
                <option value="png">PNG</option>
                <option value="eps">EPS</option>
            </select><br><br>

            <label data-translate-key="25">Colour mode:</label>
            <select id="model" onchange="checkColor()">
                <option value="rgb">Web (RGB)</option>
                <option value="cmyk">Print (CMYK)</option>
            </select><br><br>

            <label data-translate-key="37">QR code colour:</label>
            <select id="color">
                <option value="green">BITZER Green</option>
                <option value="black">BITZER Black</option>
                <option value="white">White</option>
            </select><br><br>

            <button id="create-button" style="margin-top: 30px" data-translate-key="22" onclick="doDownload('${qrCodeId}', '${campaignMedium}','${campaignName}','${language}')">Download</button>
        </div>
        `;

        appDiv.appendChild(publishModal);
        checkModel();
        checkColor();

        window.scrollTo(0, 0);
        document.body.style.overflow = "hidden"; // Disable scrolling

        // doTranslate("download-modal-container");
    }

    function checkModel() {
        const format = document.getElementById('format').value;
        const modelSelect = document.getElementById('model');
        const colorSelect = document.getElementById('color');

        // Get references to the two model options
        const rgbOption = modelSelect.querySelector('option[value="rgb"]');
        const cmykOption = modelSelect.querySelector('option[value="cmyk"]');
        const blackColor = colorSelect.querySelector('option[value="black"]');
        const whiteColor = colorSelect.querySelector('option[value="white"]');

        if (format === 'png') {
            // Hide or disable CMYK option
            cmykOption.style.display = 'none';
            // Ensure the selected model is 'rgb'
            modelSelect.value = 'rgb';
        } else {
            // If EPS, show both
            cmykOption.style.display = 'block';
            modelSelect.value = 'cmyk';
        }
        checkColor();
    }

    function checkColor() {
        const format = document.getElementById('format').value;
        const model = document.getElementById('model').value;
        const colorSelect = document.getElementById('color');

        const blackColor = colorSelect.querySelector('option[value="black"]');
        const whiteColor = colorSelect.querySelector('option[value="white"]');
        const greenColor = colorSelect.querySelector('option[value="green"]');

        if (format === 'eps') {
            if (model === "rgb") {
                colorSelect.value = 'green';
                blackColor.style.display = 'none';
                whiteColor.style.display = 'none';
            } else {
                blackColor.style.display = 'block';
                whiteColor.style.display = 'block';
            }
        } else {
            blackColor.style.display = 'block';
            whiteColor.style.display = 'block';
        }
    }

    function doDownload(qrCodeId, campaignMedium, campaignName, language) {
        let format = document.getElementById("format").value;
        let color = document.getElementById("color").value;
        let model = document.getElementById("model").value;

        console.log("Download Payload:", { qrFormat: format, qrColor: color, qrModel: model });

        var xhr = new XMLHttpRequest();
        xhr.responseType = "blob";

        xhr.onload = function () {
            if (this.status === 200) {
                console.log("Download QR Code Success");

                // Create a blob from the response
                console.log("Response for blob: ", this.response);
                let blob = new Blob([this.response], { type: xhr.getResponseHeader("Content-Type") });

                // Create a download link
                let link = document.createElement("a");
                link.href = window.URL.createObjectURL(blob);
                // link.download = `QR_code_${qrCodeId}_${campaignMedium}.${format}`;
                let lan = language === 'English' ? 'en' : 'de';
                link.download = `QR-Code_${qrCodeId}_${campaignName}_${campaignMedium}_${lan}_${model}_${color}.${format}`;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                closeModal('download-modal-container');
            } else {
                console.error("Download QR Code Error", this.status);
            }
        };

        xhr.open("GET", `download-qr-code/${qrCodeId}?qrFormat=${format}&qrColor=${color}&qrModel=${model}`, true);
        xhr.send();
    }

    function getCurrentUser() {
        let appEl = document.getElementById('app');
        if (!DEV) {
            let thisUrl = "/rest/administration/users/current";
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
                if (this.status === 200) {
                    console.log("get current user success");
                    currentUser = JSON.parse(this.responseText);
                    console.log(currentUser);
                    // lang = currentUser.language; // disabled by request
                    appEl.style.display = 'block';

                    // if (currentUser.roles.PIMEDIA_ORGANISATION !== "administrator") {
                    //     document.getElementById("settings_img").style.display="none";
                    // }
                    const mpRole = currentUser.roles.PIMEDIA_DATABASE;
                    if (mpRole === "administrator" ||
                        mpRole === "Power User"   ||
                        mpRole === "Casual User Plus QR code" ||
                        mpRole === "Normal User plus QR code" ) {
                        cLog(`Role ${mpRole} allowed.`)
                    } else {
                        cLog(`Role ${mpRole} not allowed. Redirecting...`);
                        window.location.replace(serverUrl);
                    }
                } else {
                    console.log("get current user error", this.status);
                    window.location.replace(serverUrl);
                }
            }
            xhr.open("GET", thisUrl, false);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send();
        } else {
            appEl.style.display = 'block';
            currentUser = dummyUser;
        }
    }

    function doTranslate(rootElementId) {
        if (lang === "de-DE") {
            // Select every element that has data-translate-key
            let rootEl = document.getElementById(rootElementId);
            rootEl.querySelectorAll("[data-translate-key]").forEach(element => {
                const key = element.getAttribute("data-translate-key");

                // Retrieve the text from translations object
                let text = translations["de"][key];

                // If the element is an input, update the placeholder;
                // otherwise, update textContent (or innerText)
                if (element.tagName.toLowerCase() === "input") {
                    element.placeholder = text;
                } else {
                    element.textContent = text;
                }
            });
        }
    }

    // LISTEN FOR PUBLISHING EVENT
    document.addEventListener("change", function(event) {
        if (event.target.matches('.switch input[type="checkbox"]')) {
            let qrCodeContainer = event.target.closest(".qr-code-container");
            if (qrCodeContainer) {
                let qrid = qrCodeContainer.getAttribute("data-qrid");
                let isChecked = event.target.checked;
                console.log(`QR ID: ${qrid}, Published: ${isChecked ? 'true' : 'false'}`);
                displayConfirmPublishModal(qrid, isChecked ? 'true' : 'false');
            }
        }
    });

    // LISTEN FOR SEARCH EVENT
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById("search-input");
        searchInput.addEventListener("keyup", searchQRCodes);
    });

</script>
</body>
</html>
